<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="stylesheets/style.less">
<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Lobster|Poiret+One" rel="stylesheet"> 
	<title></title>
</head>
<body>

<div class="nav-container">
<img src="../images/main1.jpg">
<p class="nav-text">Make Up</p>
</div>



<div class="agregar">
	<p>Nombre:</p>
 <input type="text" class="nombre">
 <p>Imagen:</p>
 <input type="text" class="imagen" ><br>
<button class="add">Agregar</button>
	</div>


	<script
 src="https://code.jquery.com/jquery-3.3.1.min.js"
 crossorigin="anonymous"></script>
<script type="text/javascript" src="/javascripts/add.js"></script>
</body>
</html>

